.git
.github
.env
.env.*
!.env.example

vendor
node_modules

public/hot
public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.DS_Store
Thumbs.db

*.zip
